%body
  #page
    %header#header.site-header
      %nav#navbar.site-navbar.navbar.navbar-static-top{:role => "navigation"}
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %i.fa.fa-bars
            %h1.navbar-brand

              %a{:style => "font-size: 35px", :href => "#header"}
                = image_tag "logo_handwriting.png", height: 55
          #navbar-collapse-1.collapse.navbar-collapse
            %ul#navigation.nav.navbar-nav.navbar-right
              %li.active
                %a.current{:href => "#header"} Home
              %li
                %a{:href => "#features"} Features
              %li
                %a{:href => "#testimonials"} Testimonials
              %li
                %a{:href => "#pricing"} Price
              %li
                %a{:href => "#blog"} Team
              %li
                %a{:href => "#footer"} Contact
              %li ______
              %li
                %a.external{:href => "https://www.lastmingear.com/"} Rent Now
    %main#main.site-main
      %section#carousel-1.carousel.slide.section-slide{"data-ride" => "carousel"}
        .carousel-inner
          .item.active{:style => "background: url(assets/background/cat_1_wide_dark.png);"}
            .container
              = image_tag "background/hero_text_1.png"
      / <div class="item" style="background: url(assets/background/sri_lanka_wide_dark_2.jpg);">
      / <div class="container"><img src="assets/background/hero_text_3.png" alt="Third slide"></div>
      / </div>
      / turning off carousel feature
      / <a class="left carousel-control" href="#carousel-1" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
      / <a class="right carousel-control" href="#carousel-1" data-slide="next"><span class="fa fa-chevron-right"></span></a>
      %section.section.section-center.section-cta
        .container
          %h2.section-title
            %span Wait, 50 percent?
          %h3
            We where shocked too. A healthy cat should generally be under 10lbs. With half our cats being overweight and twenty percent obese its become an epidemic.

          %br
          %br

          %h5.pull-left Sources:
          %br
          %br
          .small.pull-left
            %a.text-primary{:href => "http://www.petobesityprevention.org/pet-obesity-fact-risks/"} 2013 National Pet Obesity Awareness Day Survey
          %br
          .small.pull-left
            %a.text-primary{:href => "http://www.petobesityprevention.org/pet-obesity-fact-risks/"} VCA Animal Hospitals
          %br
          .small.pull-left
            %a.text-primary{:href => "http://www.2ndchance.info/diabetescat-obesityZoran.pdf"} Obesity in Cats and Dogs
          %br
          .small.pull-left
            %a.text-primary{:href => "http://www.animalplanet.com/pets/healthy-pets/how-to-put-your-cat-on-a-diet/"} Animal Planet
          %br
          .small.pull-left
            %a.text-primary{:href => "http://www.telegraph.co.uk/lifestyle/pets/10325705/Got-a-fat-pet-Its-just-comfort-eating-Cats-and-dogs-diagnosed-with-Bridget-Jones-syndrome.html"} Got a Fat Pet?

      %section#register.section.section-center.section-hilite
        .main-action.row
          .col-md-1.col-md-offset-2.mt30
            = image_tag "aiko_right.png", height: 100
          .col-md-6.col-md-offset-0
            %h3 We are in the processes of building a set of tools to help owners reduce the weight of their cats. Sign up to get email updates on our progress and suggestions on how to help your pet immediately.
            %br
          .col-md-4.col-md-offset-4.col-sm-4
            %a.smooth-scroll.btn.btn-lg.btn-block.btn-danger{:href => "#"} Register to Hear More

      %section#carousel-1.carousel.slide.section-slide{"data-ride" => "carousel"}
        .carousel-inner
          .item.active{:style => "background: url(assets/background/cat_4_wide_dark.png);"}
            .container
              = image_tag "background/hero_text_2.png"
      %section#features.section.section-center.section-features
        .container
          %h2.section-title
            %span How it works?
          .row
            .col-md-4.col-sm-6
              .icon-wrap
                = image_tag "icons/scale_icon_2.png"
              %h4 Automatic Weigh Ins
              %p Place the wireless scale next to your cat's food. They'll weigh in every time they eat.
            .col-md-4.col-sm-6
              .icon-wrap
                = image_tag "icons/graph_icon.png"
              %h4 Track Progress
              %p They key to weight loss is knowing whats working and whats not.
            .col-md-4.col-sm-6
              .icon-wrap
                = image_tag "icons/devices_icon.png"
              %h4 Stay Motivated
              %p Check in on your phone, tablet and desktop devices.
      %section#carousel-1.carousel.slide.section-slide{"data-ride" => "carousel"}
        .carousel-inner
          .item.active{:style => "background: url(assets/background/backpacking_wide_dark.png);"}
            .container
              = image_tag "background/hero_text_3.png"
      %section#testimonials.section.section-center.section-testimonial
        .container
          %h2.section-title
            %span What are people saying?
          %i.fa.fa-quote-left.fa-3x
          #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
            .carousel-inner
              .item.active
                %blockquote
                  %p One of the best tents I have ever used, and the whole process was so easy and simple!

              .item
                %blockquote
                  %p A big group of us from work were taking an overnight trip to Yosemite and feeling overwhelmed by the hours of planning and costs of everything. Fortunately, we discovered LMG and got some great advice from James, an outdoor pro. He asked the right questions and gave very sensible advice on what to bring and not to bring. Honestly, James and LMG made this trip a piece of cake. Six stars!
              .item
                %blockquote
                  %p We didn't own what we needed & friends didn't have much to spare. It was super simple to get quality camping supplies from Last Minute Gear; we had a blast on our trip!
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
                = image_tag "profiles/teresa.jpg", height: 64, width: 64, class: "img-circle"
              %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
                = image_tag "profiles/david.jpg", height: 64, width: 64, class: "img-circle"
              %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
                = image_tag "profiles/dusty.jpg", height: 64, width: 64, class: "img-circle"
      %section#pricing.section.section-center.section-hilite.section-pricing
        .container
          %h2.section-title
            %span Pricing Table Made Easy
          .pricing-table
            .row
              .col-sm-6.col-sm-offset-3
                .panel.panel-primary
                  %header.panel-heading
                    %h1 Costs
                    .the-price
                      Rent
                      %span.subscript / Buy
                  .panel-body
                    %table.table
                      %tbody
                        %tr
                          %td
                            Tent:
                            %span.text-success $20
                            %span /
                            %span.text-danger $220
                        %tr.active
                          %td
                            Sleeping Bag:
                            %span.text-success $15
                            %span /
                            %span.text-danger 175
                        %tr
                          %td
                            Snow Jacked:
                            %span.text-success $250
                            %span /
                            %span.text-danger $25
                        %tr.active
                          %td
                            Snow Pants:
                            %span.text-success $18
                            %span /
                            %span.text-danger $160
                        %tr.active
                          %td
                            Hiking Backpack:
                            %span.text-success $20
                            %span /
                            %span.text-danger $210

                  %footer.panel-footer
                    %a.btn.btn-primary{:href => "/signup"} Sign up now
      %section#blog.section.section-blog
        .container
          %h2.section-title
            %span Creators
          .row
            .col-md-6
              %article.hentry.post
                .row
                  .entry-thumbnail.col-lg-4.col-md-5.col-sm-4
                    %a.hover-effect{:href => "https://www.linkedin.com/in/jmzbond"}
                      = image_tag "profiles/james.jpg"
                      %span.overlay
                        %i.fa.fa-plus
                  .col-lg-8.col-md-7.col-sm-8
                    %header.entry-header
                      %h2.entry-title
                        %a{:href => "https://github.com/terhuang"} James
                    / <div class="entry-meta">By <a href="#">Jackie Lord</a> in <a href="#">Category</a></div>
                    .entry-content
                      %p
                        James has been connecting people and the outdoors for years. His passion is merging business with nature. He can tell a 40 liter backpack from a 42 liter backpack from 60 feet away.
                        His favorite spots are Yosemite and Death Valley.
            .col-md-6
              %article.hentry.post
                .row
                  .entry-thumbnail.col-lg-4.col-md-5.col-sm-4
                    %a.hover-effect{:href => "https://github.com/dladowitz"}
                      = image_tag "profiles/david.jpg"
                      %span.overlay
                        %i.fa.fa-plus
                  .col-lg-8.col-md-7.col-sm-8
                    %header.entry-header
                      %h2.entry-title
                        %a{:href => "https://github.com/dladowitz"} David
                    / <div class="entry-meta">By <a href="#">Jackie Lord</a> in <a href="#">Category</a></div>
                    .entry-content
                      %p
                        David is a software developer during the week and rock climber on the weekend. He can start a fire with just steel and flint in a pinch.
                        His favorite spots are Joshua Tree and Lovers Leap.
            / <a href="#" class="more"><span class="btn btn-primary">Continue Reading</span></a>

    / <a href="#" class="more"><span class="btn btn-primary">Continue Reading</span></a>
    %footer#footer.site-footer
      .container
        #sidebar-footer-1
          .row
            %aside.widget.col-md-3.col-md-push-3.col-sm-6
              %h5.widget-title Contact us
              %p
                Tell us what you think or connect with us at
                %a{:href => "mailto:info@lastmingear.com?Subject=Save Money"} info@alstmingear.com.com
            %aside.widget.col-md-3.col-md-push-3.col-sm-6
              %h5.widget-title Really Love Numbers?
              %p
                See for your self the exact math behind out claims. Download our
                = link_to "calculator & graph generator", "http://www.lastmingear.com/assets/Should-you-buy-your-own-snowsports-apparel-Calculator.xlsx"
                built using Excel.
        .copyright
          %p
            © 2015 Last Minute Gear.
            %br/
  .scroll-to-top{"data-offset-top" => "200", "data-spy" => "affix"}
    %a.smooth-scroll{:href => "#page"}
      %i.fa.fa-arrow-up
  / TODO Move to JS manifest
  %script{:src => "https://code.jquery.com/jquery-1.10.2.min.js", :type => "text/javascript"}
  %script{:src => "assets/landing_page/bootstrap-3.1.1.min.js", :type => "text/javascript"}
  %script{:src => "assets/landing_page/jquery.isotope.min.js?v=1.5.26", :type => "text/javascript"}
  %script{:src => "assets/landing_page/jquery.singlePageNav.min.js", :type => "text/javascript"}
  %script{:src => "assets/landing_page/main.js", :type => "text/javascript"}

